.header {
  border-bottom: 1px solid #dddddd;
}

.headerInner {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo > img {
  width: 70px;
}

@media screen and (max-width: 700px) {
  .headerInner {
    justify-content: flex-start;
    gap: 12px;
  }
}
